.loader {
  display: block;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top: 3px solid var(--white-100);
  border-radius: 50%;
  width: 14px;
  height: 14px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
